<% first_product = Product.first %>
<% expensive_product = Product.where('price > 500').first %>
<p>
	Product Name: "<%=first_product.name%>" costs $<%= first_product.price %>
</p>

<p> 
	The seller for this product is named '<%= first_product.user.name%>'
</p>
<p>
	An expensive product is "<%= expensive_product.name %>", It costs <%= expensive_product.price%>
</p>
<p>
	This product is sold by '<%= expensive_product.user.name %>'
</p>
